// Use !{var} to use unescaped conent
include variables.pug
link(rel='stylesheet' type='text/css' href='../style.css')
.container 
  .row.first-row 
    .title #{staticFields.first.title}
  .row.second-row
    .first-block
      span.single-char #{data.second.year}
      each character in data.second.date
        span.single-char=character
      span.single-char #{staticFields.second.month}
    .second-block
      span #{data.second.title}
  .row.third-row
    .left-side
      div #{staticFields.third.first}
      div #{staticFields.third.second}
      div #{staticFields.third.third}
    .center 
      span #{date}
    .right-side 
      .row
        div.header #{staticFields.third.right.first}
        div.body.row 
          each numb in data.third.first
            div.split-char #{numb}
      .row
        div.header  #{staticFields.third.right.second.title}
        div.body
          .row.full-width 
            div.sub-header.padding-content #{staticFields.third.right.second.first}
            div.sub-body.padding-content #{data.third.second.first}
          .row.full-width.position
            div.sub-header #{staticFields.third.right.second.second}
            div.sub-body 
              .row
                each numb in data.third.second.second.first
                  div.split-text #{numb}
              div.border-top.text-area #{data.third.second.second.second}
          .row.full-width
            div.sub-header.padding-content #{staticFields.third.right.second.third} 
            div.sub-body.padding-content #{data.third.second.third}
  .fourth-row
    .title #{staticFields.fourth.title}
    .table
      .row.full-width.head
        .col1.header #{staticFields.fourth.first}
        .col2.header
          div.border-bottom.full-width.title.text-center #{staticFields.fourth.secondTitle}
          div.row
            each title in staticFields.fourth.second
              div.cell !{title}
        .col3.header
          div.border-bottom.full-width.title.text-center #{staticFields.fourth.thirdTitle}
          div.row
             each title in staticFields.fourth.third
              div.cell !{title}
      each rowFourth, index in data.fourth 
        .row.full-width.body
          .col1(class = index+1 == data.fourth.length  ? 'text-center' : '') !{rowFourth.title}
          .col2 
            div.row
              div.cell(class=rowFourth.col1 == undefined  ? "dashed" : "") #{rowFourth.col1}
              div.cell(class=rowFourth.col2 == undefined  ? "dashed" : "") #{rowFourth.col2}
              div.cell(class=rowFourth.col3 == undefined  ? "dashed" : "") #{rowFourth.col3}
              div.cell(class=rowFourth.col4 == undefined  ? "dashed" : "") #{rowFourth.col4}
              div.cell(class=rowFourth.col5 == undefined  ? "dashed" : "") #{rowFourth.col5}
              div.cell(class=rowFourth.col6 == undefined  ? "dashed" : "") #{rowFourth.col6}
          .col3
            div.row
              div.cell(class=rowFourth.col7 == undefined  ? "dashed" : "") #{rowFourth.col7}
              div.cell(class=rowFourth.col8 == undefined  ? "dashed" : "") #{rowFourth.col8}
              div.cell(class=rowFourth.col9 == undefined  ? "dashed" : "") #{rowFourth.col9}
              div.cell(class=rowFourth.col10 == undefined  ? "dashed" : "") #{rowFourth.col10}
              div.cell(class=rowFourth.col11 == undefined  ? "dashed" : "") #{rowFourth.col11}
  .fifth-row
    .title #{staticFields.fifth.title}
    .table
      .row.full-width.head
        .col1.header #{staticFields.fifth.first}
        .col2.header
          div.border-bottom.full-width.title.text-center #{staticFields.fifth.secondTitle}
          div.row
            each title in staticFields.fifth.second
              div.cell !{title}
        .col3.header
          div.border-bottom.full-width.title.text-center #{staticFields.fifth.thirdTitle}
          div.row
           each title in staticFields.fifth.third
              div.cell !{title}
      .row.full-width.body
        each dataBody in data.fifth
          .col1.row.no-padding
            div.number.border-right #{dataBody.code}
            div.subject
              each subject in dataBody.data
                div.name.row
                  div.title !{subject.title}
                  div.content(class=subject.col1 == undefined  ? "dashed" : "") #{subject.col1}
                  div.content(class=subject.col2 == undefined  ? "dashed" : "") #{subject.col2}
                  div.content(class=subject.col3 == undefined  ? "dashed" : "") #{subject.col3}
                  div.content(class=subject.col4 == undefined  ? "dashed" : "") #{subject.col4}
                  div.content(class=subject.col5 == undefined  ? "dashed" : "") #{subject.col5}
                  div.content(class=subject.col6 == undefined  ? "dashed" : "") #{subject.col6}
                  div.content(class=subject.col7 == undefined  ? "dashed" : "") #{subject.col7}
      .row.full-width.footer
        .col1.text-center #{staticFields.fifth.footer}
        .col2
          div.row
            div.content(class=data.footer.col1 == undefined ? 'dashed' : '' ) #{data.footer.col1}
            div.content(class=data.footer.col2 == undefined ? 'dashed' : '' ) #{data.footer.col2}
            div.content(class=data.footer.col3 == undefined ? 'dashed' : '' ) #{data.footer.col3}
            div.content(class=data.footer.col4 == undefined ? 'dashed' : '' ) #{data.footer.col4}
        .col3
          div.row
            div.content(class=data.footer.col5 == undefined ? 'dashed' : '' ) #{data.footer.col5}
            div.content(class=data.footer.col6 == undefined ? 'dashed' : '' ) #{data.footer.col6}
            div.content(class=data.footer.col7 == undefined ? 'dashed' : '' ) #{data.footer.col7}