// Use !{var} to use unescaped conent
include variables.pug
link(rel='stylesheet' type='text/css' href='../style.css')

.container 
  .first-row.row
    .col1 
      div #{staticFields.officeNumber}
      div #{staticFields.officeName}
      div #{data.officeNumber}
      div #{data.officeName}
    .col2 
      .title #{data.title}
      .sub-title 過誤申立については、下記のとおり決定しましたので通知します。
    .col3 
      .date #{data.date}
      div #{data.page}
      div #{data.companyName}
  
  .second-row 
    .table.full-width
      .header.row
        .col.col1 #{staticFields.insurerNumber} #{staticFields.insurerName}
        .col.col2 !{staticFields.insuerer}
        .col.col3 !{staticFields.serviceProvision}
        .col.col4 !{staticFields.serviceType}
        .col.col5 #{staticFields.malpracticeClaim}
        .col.col6 !{staticFields.numberUnit}
        .col.col7 !{staticFields.insuererBurden}
        .col.col8 #{staticFields.remark}

      .body.row
        .col.col1 
          div #{data.col1.up}
          div #{data.col1.down}
        .col.col2 
          div #{data.col2.up}
          div #{data.col2.down}
        .col.col3 #{data.col3}
        .col.col4 #{data.col4}
        .col.col5 #{data.col5}
        .col.col6 #{data.col6}
        .col.col7 #{data.col7}
        .col.col8 #{data.col8}

  .third-row.row
    .table
      .header.row
        .col.col1
        .col.col2 #{staticFields.number}
        .col.col3 #{staticFields.numberCredit}
        .col.col4 #{staticFields.burden}
      .body.row
        .col.col1
          div.main #{staticFields.main}
          div.split
            div #{staticFields.benefit}
            div #{staticFields.expense}
        .col.col2
          div.split
            div #{data.expense.col2}
            div #{data.benefit.col2}
        .col.col3
          div.split
            div #{data.expense.col3}
            div #{data.benefit.col3}
        .col.col4
          div.split
            div #{data.expense.col4}
            div #{data.benefit.col4}
    .description #{staticFields.description}