// Use !{var} to use unescaped conent
include variables.pug
link(rel='stylesheet' type='text/css' href='../style.css')

.container

  .header   
    .title.row  
      h1 #{data.title}
  .first-row.row
    .col1 
      div #{staticFields.officeNumber}
      div #{staticFields.officeName}
      div #{data.officeNumber}
      div #{data.officeName}
    .subtitle #{staticFields.subtitle}
    .col3 
      .date #{data.date}
      div #{data.page}
      div #{data.companyName}
  
  .second-row 
    .table.full-width
      .header.row
        .col.col1 !{staticFields.col1}
        .col.col2 !{staticFields.col2}
        .col.col3 !{staticFields.col3}
        .col.col4 !{staticFields.col4}
        .col.col5 !{staticFields.col5}
        .col.col6 !{staticFields.col6}
        .col.col7 !{staticFields.col7}
        .col.col8 !{staticFields.col8}
      .body.row
        .col.col1 
          div #{data.col1.up}
          div #{data.col1.down}
        .col.col2 
          div #{data.col2.up}
          div #{data.col2.down}
        .col.col3 #{data.col3}
        .col.col4 #{data.col4}
        .col.col5 #{data.col5}
        .col.col6 #{data.col6}
        .col.col7 #{data.col7}
        .col.col8 #{data.col8}
  
  .third-row.row
    .table
      .header.row
        .col.col1
        .col.col2 #{staticFields.col32} 
        .col.col3 #{staticFields.col33} 
        .col.col4 #{staticFields.col34} 
      .body.row
        .col.col1
          div.main #{staticFields.col311} 
          div.split #{staticFields.col312} 
        .col.col2 #{data.col32}
        .col.col3 #{data.col33}
        .col.col4 #{data.col34}