// Use !{var} to use unescaped conent
include variables.pug
link(rel='stylesheet' type='text/css' href='../style.css')

.container 
  .first-row 
    .row.justify-between
      div 国保連合会 → サービス事業所等
      .title 介護保険審査増減単位数通知書
      .date 平成 30年 09月 04日
    .first-section 
      .left-block
        .row
          .office-number 事業所番号
          .office-name 事業所名
        .row
          .office-number 0170512248
          .office-name デイサービスきたえるーむ札幌清田
      div 令和 02年 05月審査分
      .right-block
        div 1 頁
        div 北海道国民健康保険団体連合会
        div 道国保連介護給付費審査委員会  
  .second-row
    .row
      .primary
        .table
          .header
            .row.full-width
              div.col.col1 保険者番号
              div.col.col2 被保険者番号<br>被保険者氏名 
              div.col.col3 サービス<br>提供年月
              div.col.col4 サービス<br>種類コード
              div.col.col5 サービス<br>項目コード
              div.col.col6 増減単位数
              div.col.col7 事由
              div.col.col8 内容
          .body.full-width
              - var n = 0
              while n < 8
                - var item = data.body[n]
                if item != undefined
                  div.row.full-width.data-row
                    .row.full-width
                      div.col.col1 #{item.col1}
                      div.col.col2
                        div #{item.col2 ?  item.col2.up:''}
                        div #{item.col2 ? item.col2.down : ''}
                      div.col.col3 #{item.col3}
                      div.col.col4 #{item.col4}
                      div.col.col5 #{item.col5}
                      div.col.col6 #{item.col6}
                      div.col.col7 #{item.col7}
                      div.col.col8 
                        div #{item.col8 ? item.col8.up : ''}
                        div #{item.col8 ? item.col8.down : ''}
                else 
                  div.row.full-width.data-row
                    .row.full-width
                      div.col.col1 
                      div.col.col2
                        div  
                        div  
                      div.col.col3 
                      div.col.col4  
                      div.col.col5  
                      div.col.col6  
                      div.col.col7  
                      div.col.col8 
                        div 
                        div  
                - n++
              
      .contact-info 
        div.header.col 連絡事項
        div

  .third-row 
    .title ○事由記号の内容


    //- .table 
      //- div.content
      //-   div.item1 s1
      //-   div.item2 s2
      //-   div.item3 s3
      //-   div.item1 s1
      //-   div.item2 s2
      //-   div.item3 s3
    .row
      div.table
        .header 
            div.title.row
              div 上限審査分
              div 出来高分
            div.row
              .head 記号
              .subject 内容
              .head 記号
              .subject.unset-border-right 内容
        .body
          .content 
            .head B
            div.row.right.full-width
              .subject 給付管理票の実績を超えるもの
              div.data
                .sub-content.row
                  .head F
                  .subject 重複と認められるもの
                .sub-content.row
                  .head G
                  .subject 前記の外、不適当、不必要と認められるもの
          .content
            .head A
            div.row.right.full-width
              .subject 給付管理票に実績が記載されていないもの
              div.data
                .sub-content.row
                  .head C
                  .subject 担当規程に反するもの
                .sub-content.row
                  .head D
                  .subject 適応と認められないもの
                .sub-content.row
                  .head E
                  .subject 過剰と認められるもの