// Use !{var} to use unescaped conent
include variables.pug

link(rel='stylesheet', type='text/css', href='../style.css')

.paginate
  .page #{data.pagination.dummyPage}

.title
  span #{staticFields.title}
  span.sub #{staticFields.subTitle}

.general-info
  .date #{data.date}
  .first-block.table
    .header 
      .cell.col1
        span #{staticFields.blocks.first.col1}
      .cell.col2
        span #{staticFields.blocks.first.col2}
    .body
      .cell.col1
        span #{data.blocks.first.col1}
      .cell.col2
        span #{data.blocks.first.col2}

.second-block.table
  .header
    .cell.col1
    .cell.col2
      span #{staticFields.blocks.second.col2}
    .cell.col3
      span #{staticFields.blocks.second.col3}
    .cell.col4
      span #{staticFields.blocks.second.col4}
    .cell.col5
      span #{staticFields.blocks.second.col5}
    .cell.col6
      span #{staticFields.blocks.second.col6}
  .body
    .cell.col1 
      div #{staticFields.blocks.second.col1}
    .cell.col2
      div 42
    .cell.col3 
      div 11
    .cell.col4
      div 31
    .cell.col5
      div 7
    .cell.col6
      div 35

.double-block
  .third-block.table
    .header
      .cell.col1 #{staticFields.blocks['double-block'].col1}
      .cell.col2 #{staticFields.blocks['double-block'].col2}
      .cell.col3 #{staticFields.blocks['double-block'].col3}
    - var n = 0;
    .body
      while n < 30 
        if data.blocks.third[n]
          .row
            .cell.col1 #{n + 1}
            span.cell.col2= data.blocks.third[n].col2
            span.cell.col3= data.blocks.third[n].col3
        else 
          .row
            .cell.col1
            .cell.col2
            .cell.col3
        - n = n + 1

  .fourth-block.table
    .header
      .cell.col1 #{staticFields.blocks['double-block'].col1}
      .cell.col2 #{staticFields.blocks['double-block'].col2}
      .cell.col3 #{staticFields.blocks['double-block'].col3}
    
    - var n = 0;
    .body
      while n < 30 
        if data.blocks.fourth[n]
          .row
            .cell.col1 #{n + 1}
            span.cell.col2= data.blocks.fourth[n].col2
            span.cell.col3= data.blocks.fourth[n].col3
        else 
          .row
            .cell.col1
            .cell.col2
            .cell.col3
        - n = n + 1

.fifth-block.table
  .header
    .cell.col1 #{staticFields.blocks['fifth-block'].col1}
    .cell.col2 !{data.blocks.fifth.col2}
    .cell.col3 !{data.blocks.fifth.col3}

.sixth-block
  .title 出 勤 者
  .table 
    .header
      .cell.col1 #{staticFields.blocks['sixth-block'].col1}
      .cell.col2 #{staticFields.blocks['sixth-block'].col2}
      .cell.col3 #{staticFields.blocks['sixth-block'].col3}
      .cell.col4 #{staticFields.blocks['sixth-block'].col4}
      .cell.col5 #{staticFields.blocks['sixth-block'].col5}
      .cell.col6 #{staticFields.blocks['sixth-block'].col6}
      .cell.col7 #{staticFields.blocks['sixth-block'].col7}
      .cell.col8 #{staticFields.blocks['sixth-block'].col8}
    - var n = 0;
    .body
      while n < 5
        .row
          if data.blocks.sixth[n]
            .cell.col1 
                span #{data.blocks.sixth[n].col1}
            .cell.col2
                span #{data.blocks.sixth[n].col2}
            .cell.col3
                span #{data.blocks.sixth[n].col3}
            .cell.col4
                span #{data.blocks.sixth[n].col4}
            .cell.col5
                span #{data.blocks.sixth[n].col5}
            .cell.col6
                span #{data.blocks.sixth[n].col6}
            .cell.col7
                span #{data.blocks.sixth[n].col7}
            .cell.col8
              span #{data.blocks.sixth[n].col8}
          else     
            .cell.col1 
            .cell.col2
            .cell.col3
            .cell.col4
            .cell.col5
            .cell.col6
            .cell.col7
            .cell.col8
        - n = n + 1