// Use !{var} to use unescaped conent
include variables.pug

link(rel='stylesheet', type='text/css', href='../style.css')

.row.first-block
  .switch.row
    .text.text1(class=data.first.switch === "left" ? "selected" : "") #{staticFields.first.left}
    .text.text2(class=data.first.switch === "right" ? "selected" : "") #{staticFields.first.right}
  div.text3=data.first.date
  div.text4=staticFields.first.title
  .text5 #{staticFields.first.from}→#{data.first.to}
  .text6 #{staticFields.first.text6}  #{data.first.text6}

.row.second-block
    .row 
      .single-block-cell
        .header #{staticFields.second.first}
        .body.flex.insurence
          div(style="width:41.5%") &nbsp;
          each character in data.second.first
            div.serial-number #{character}
      .single-block-cell
        .header(style="width:27.7%") #{staticFields.second.second}
        .body.content-center
          div  #{data.second.second}
      .single-block-cell
        .header !{staticFields.second.third}
        .body.content-center
          div #{data.second.third}
      .single-block-cell
        .header !{staticFields.second.fourth}
        .body.content-center
          div #{data.second.fourth}
    .row 
      .single-block-cell
        .header !{staticFields.second.fifth}
        .body.flex.insurence
          each character, index in data.second.fifth
            div.serial-number(class=index === 0 ? "unset" : "") #{character} 
      .single-block-cell
        .header.text-center.items-center(style="width:41%") !{staticFields.second.sixth}
        .body.content
          div.split-row
            div.padding-content #{data.second.sixth.up}
            div.padding-content.border-top #{data.second.sixth.down}
      .single-block-cell
        .header #{staticFields.second.seventh}
        .body.content-center
          div #{data.second.seventh}
      .single-block-cell
        .header.text-center.items-center.justify-center !{staticFields.second.eighth}
        .body.content-center
          div #{data.second.eighth}
    .row.third-row
      .block.first.flex(style="width:16.2%")
        .header.border-right.flex.text-center.items-center(style="width:39%;place-content: center")
          div #{staticFields.third.first.birdthDay}
        .body.border-right(style="width:52%")
          div.era
            span(class=data.third.first.selectedEra == staticFields.third.first.firstEra ? "selected" : ""  ) #{staticFields.third.first.firstEra}
            span(class=data.third.first.selectedEra == staticFields.third.first.secondEra ? "selected" : ""  ) #{staticFields.third.first.secondEra}
            span(class=data.third.first.selectedEra == staticFields.third.first.thirdEra ? "selected" : ""  ) #{staticFields.third.first.thirdEra}
            span(class=data.third.first.selectedEra == staticFields.third.first.fourthEra ? "selected" : ""  ) #{staticFields.third.first.fourthEra}
          div.date #{data.third.first.date}
      .block.second.flex(style="width:8.85%")
        .header.border-right.flex.text-center.items-center(style="width:25%")
          div #{staticFields.third.second.gender}
        .body.flex.text-center.items-center.border-right(style="width:63%")
          div(class=data.third.second.gender == staticFields.third.second.male ? "selected" : "") #{staticFields.third.second.male} 
          div(class=data.third.second.gender == staticFields.third.second.female ? "selected" : "") #{staticFields.third.second.female}
      .block.third.grid(style="width:24.9%")
        div.cell #{staticFields.third.third.first.header}
        div.cell.unset-border-right(style="place-content: unset;padding: 0 0 0 0.25rem;")
          div.flex.items-center.business-category
            div #{staticFields.third.third.target}
            span.branch(class=data.third.third.first.branch === staticFields.third.third.firstBranch ? "selected" : "") #{staticFields.third.third.firstBranch}
            span.branch(class=data.third.third.first.branch === staticFields.third.third.secondBranch ? "selected" : "") #{staticFields.third.third.secondBranch}
            - var n = 0
            while n < staticFields.third.third.limitTarget
              span.target(style=n == 0 ? 'margin-left: 0.25rem' : '', class=data.third.third.first.target == (n + 1) ? 'selected' : '' ) #{n + 1}
              - n = n + 1
        div.cell.unset-border-bottom !{staticFields.third.third.second.header}
        div.cell.unset-border-bottom.unset-border-right.flex(style="place-content: unset;padding: 0; grid-template-rows: 50% 50%;")
          div.flex.items-center.business-category(style="padding-left: 0.25rem")
            span #{staticFields.third.third.target}
            span.branch(class=data.third.third.second.branch === staticFields.third.third.firstBranch ? "selected" : "") #{staticFields.third.third.firstBranch}
            span.branch(class=data.third.third.second.branch === staticFields.third.third.secondBranch ? "selected" : "") #{staticFields.third.third.secondBranch}
            - var n = 0
            while n < staticFields.third.third.limitTarget
              span.target(style=n == 0 ? 'margin-left: 0.25rem' : '', class=data.third.third.second.target == (n + 1) ? 'selected' : '' ) #{n + 1}
              - n = n + 1
          div.flex.items-center.border-top
      .block.fourth.border-left.flex(style="width:20%")
        .header.border-right !{staticFields.third.fourth}
        .body #{data.third.fourth}
      .block.fifth.border-left.flex(style="width:20%")
        .header.border-right !{staticFields.third.fifth}
        .body 
          each date in data.third.fifth
            div=date
      .block.sixth.border-left.flex(style="width:10%")
        .header.border-right !{staticFields.third.sixth}
        .body(style="width:35%") #{data.third.sixth}
            

.fourth-block
  .row.header
    div.cell.col1 #{staticFields.fourth.col1}
    div.cell.col2 #{staticFields.fourth.col2}
    div.cell.col3.text-center !{staticFields.fourth.col3}
    div.cell.col4 
      table(style="border-collapse: collapse;flex-grow: 1;text-align: center;height: 100%")
        tbody
          tr
            td.type &nbsp;
            td(colspan="32")
          tr
            td.type #{staticFields.fourth.col4.date}
            - var n = 0
            while n < 31
              td.content !{n < data.fourth.maxDate ? n + 1 : '&nbsp;'}
              -n= n + 1
            td.total(rowspan="2") !{staticFields.fourth.col4.summary}
          tr
            td.type #{staticFields.fourth.col4.day}
            - var n = 0
            while n < 31
              td.content !{ n < data.fourth.maxDate ? staticFields.fourth.col4.dayOfWeek[(n + data.fourth.startDayIndex) % 7] : ' '}
              -n= n + 1
  each rowData in data.fourth.data
    .row
      div.cell.col1 #{rowData.col1}
      div.cell.col2 #{rowData.col2}
      div.cell.col3 #{rowData.col3}
      div.cell.col4 
        table(style="border-collapse: collapse;flex-grow: 1;text-align: center")
          tbody
            tr
              td.type #{staticFields.fourth.col4.schedule}
              - var n = 0
              while n < 31
                td.content !{n < data.fourth.maxDate ? ( rowData.col4[n] ? rowData.col4[n].schedule : '&nbsp;') : '&nbsp;'}
                -n= n + 1
              td.total.content !{rowData.col4.summary ? rowData.col4.summary.schedule : '&nbsp;'}
            tr
              td.type #{staticFields.fourth.col4.achievement}
              - var n = 0
              while n < 31
                td.content !{n < data.fourth.maxDate ? ( rowData.col4[n] ? rowData.col4[n].achivement : '&nbsp;') : '&nbsp;'}
                -n= n + 1 
              td.total.content !{rowData.col4.summary ? rowData.col4.summary.achivement : '&nbsp;'}
.block-final.row.justify-between.items-center
  div #{staticFields.final.note}
  div.row
    div.block #{staticFields.final.fixedNote}
    div.block #{data.final.fixed}#{staticFields.final,unit}
    div.block #{staticFields.final.limitNote}
    div.block #{data.final.limit}#{staticFields.final.unit}