// Use !{var} to use unescaped conent
include variables.pug
link(rel='stylesheet' type='text/css' href='../style.css')

.container 
  .header
    div #{data.header.code}
    div.title #{data.header.title}
    div.description  #{data.header.description}
    div.description  #{data.header.subdescription}

  .body
    .line-break
    .title #{staticFields.body.title}

    div.row.information-block
      div.description #{data.body.description}
      .information 
        div.row
          .label.unset-border-right #{staticFields.body.information.first}
          .value  #{data.body.information.first}
        div.row
          .label.unset-border-right #{staticFields.body.information.second}
          .value #{data.body.information.second}

        div #{data.body.information.name}
        .line-break
        div #{data.body.information.branchName}
        .line-break
        div.date #{data.body.information.date}
        div.name #{data.body.information.companyDescription}

  .detail
    div.title #{staticFields.detail.title}
    
    .row 
      div #{staticFields.detail.row1}
      div #{data.detail.row1}
    .line-break
    
    .row 
      div #{staticFields.detail.row2}
      div #{data.detail.row2}
    .line-break
    
    .row 
      div #{staticFields.detail.row3}
      div #{data.detail.row3}
    .line-break
    
    .row 
      div #{staticFields.detail.row4}
      div #{data.detail.row4}
    .line-break
    
    .row 
      div #{staticFields.detail.row5}
      div #{data.detail.row5}
    .line-break
    
    .row 
      div #{staticFields.detail.row6}
      div #{data.detail.row6}
    .line-break
    
    .row 
      div #{staticFields.detail.row7}
      div #{data.detail.row7}
    .line-break
    
    .row 
      div #{staticFields.detail.row8}
      div #{data.detail.row8}
    .line-break